@font-face
{
    font-family: arvo;
    src: url(fonts/Arvo.ttf)
}
@font-face
{
    font-family: OpenSans;
    src: url(fonts/OpenSans.ttf)
}
h1
{
    font-family: arvo;
}
h2
{
    font-family: arvo;
}
p
{
    font-family: OpenSans;
}

td, th
{
    border: 2px solid aqua;
    padding: 15px;
    font-family: OpenSans;
}
table
{
    border-collapse: collapse;
}
th
{
    background-color: black;
    font-size: 18px;
}
th
{
    color: aqua
}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
  @media (max-width: 768px) {
    .nav, .sidebar {
      flex-direction: column;
    }
  }